footer {
  height: 320px;
  background-color: #191919;
}
footer .footer-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
}
footer article {
  width: 370px;
}
footer article:first-child h4::after {
  margin-left: -2px;
}
footer article:first-child p {
  height: 120px;
  overflow: hidden;
}
footer article:nth-child(n+2) h4,
footer article:nth-child(n+2) p {
  margin-left: 2px;
}
footer article:nth-child(n+2) h4::after {
  margin-right: 1px;
}
footer h4 {
  font-family: 'Yeseva One', sans-serif;
  font-size: 21px;
  color: white;
  text-align: center;
  margin-top: 59px;
}
footer h4::after {
  display: block;
  content: url("../images/footer-divider.png");
  margin-top: 17px;
}
footer p {
  margin-top: 14px;
  line-height: 24px;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
}
footer p span {
  font-family: 'OpenSans bold', sans-serif;
}
footer .footer-payments {
  margin-left: 128px;
  margin-top: 51px;
}
footer .footer-payments a {
  width: 29px;
  height: 15px;
  display: inline-block;
  background: url(../images/footer-payments.png) no-repeat;
}
footer .footer-payments a:nth-child(1) {
  background-position: 1px 0px;
}
footer .footer-payments a:nth-child(2) {
  background-position: -32px 0px;
}
footer .footer-payments a:nth-child(3) {
  background-position: -65px 0px;
}
footer .footer-payments a:nth-child(4) {
  background-position: -98px 0px;
}
footer .footer-social-links {
  margin-left: 145px;
  margin-top: 50px;
}
footer .footer-social-links a {
  width: 18px;
  height: 16px;
  display: inline-block;
  background: url(../images/footer-social-links.png) no-repeat;
}
footer .footer-social-links a:nth-child(1) {
  background-position: 1px 0px;
}
footer .footer-social-links a:nth-child(2) {
  background-position: -21px 0px;
}
footer .footer-social-links a:nth-child(3) {
  background-position: -43px 0px;
}
footer .footer-social-links a:nth-child(4) {
  background-position: -65px 0px;
  width: 22px;
}
