@font-face {
  font-family: 'Yeseva One';
  src: url("../fonts/yeseva-one/YesevaOne-Regular_v2.otf") format('opentype');
}

@font-face {
  font-family: 'Gentium Basic';
  src: url("../fonts/Gentium-Basic/GenBkBasB.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/lato/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'OpenSans bold';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format('truetype');
}
body{
  
}

header{
  background: linear-gradient(to bottom, #05050547, #ffffff00);
  width: 100%;
  /* min-width: 1255px; */
  min-width: 1600px;
  height: 159px;
  position: fixed;  
  z-index: 10;
}

.promo{
  background-image: url("../images/section-promo-background.png");
  background-size: 100% 100%;
  width: 100%;
  /* min-width: 1255px; */
  min-width: 1600px;
  height: 750px;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;
}

.inner-container.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

h2{
  font-size: 90px;
  font-family: "Yeseva One";
  color: white;
  width: 970px;
  text-align: center;
  margin-top: 34px;
  margin-right: 22px;
  }

 h2::after{
   display: block;
   content: url("../images/section-promo-content-divider.png");
   color: white;
 } 



 .section-promo-button{
   display: inline-block;
   border: 2px solid black;
   padding: 20px 50px;
   color: white;
   font-family: "Lato Regular";
 }

 .section-promo-button:first-child{
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.4);
 }

 .section-promo-button:last-child{
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 30px;

 }


.inner-container{
  max-width: 1255px;
  margin: 0 auto;
  height: auto;
} 

.logo{
  display: inline-block;
  font-family: 'Yeseva One', cursive;
  color: white;
  font-size: 36px;
  margin-left: 5px;
  margin-top: 43px;
}


nav{
  display: inline-block;
  font-family: 'Gentium Basic', serif;
  font-size: 21px;
  margin: 50px 0 50px 187px;
  min-width: 800px; 
  }
 
  
a{
  text-decoration: none;
}


nav>ul>li>a{
    color: white;
    margin-left: 50px;
    display: inline-block;
}

ul li{
  display: inline-block;
}

.social{
  margin: 50px 0;
}

.social>a{
  margin-left: 16px;
}

.social{  
  display: inline-block;
}

main{
  min-height: calc(100vh-320px);
}
  




