@font-face {
  font-family: 'Yeseva One';
  src: url("../fonts/yeseva-one/YesevaOne-Regular_v2.otf") format('opentype');
}

@font-face {
  font-family: 'Gentium Basic';
  src: url("../fonts/Gentium-Basic/GenBkBasB.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/lato/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'OpenSans bold';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format('truetype');
}

header{
  background-image: url("../images/header-background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: absolute;  
  z-index: 10;
}

.inner-container{
  max-width: 1250px;
  margin: 0 auto;
  height: auto;
} 

.logo{
  display: inline-block;
  font-family: 'Yeseva One', cursive;
  color: white;
  font-size: 36px;
  margin-left: 5px;
  margin-top: 48px;
}


nav{
  display: inline-block;
  font-family: 'Gentium Basic', serif;
  font-size: 21px;
  margin: 50px 0;
  }
 
  
a{
  text-decoration: none;
}

nav>a{
    color: white;
    margin-left: 50px;
}

nav>a:first-child{
  margin-left: 240px;
}

.social{
  margin: 50px 0;
}
.social>a{
  margin-left: 16px;
}

.social{  
  display: inline-block;
}

main{
  min-height: calc(100%-320px);
}
  

.promo{
  background: url(../images/section-promo-background.png) no-repeat center;
  background-size: 100% 100%;
}



